@{
    ViewBag.Title = "Order";
}
@Html.ActionLink("SaveSet", "addOrder", "Home", new { @class = "button" })
@Html.ActionLink("SaveGet", "getOrder", "Home", new { @class = "button" })
@Html.ActionLink("Update", "updateOrder", "Home", new { @class = "button" })
<table>
    <tr>
        <th>Order Number</th>
        <th>From</th>
        <th>Summary Price</th>
        <th>Date</th>
    </tr>
    <tr>
        <td>Peter</td>
        <td>Griffin</td>
        <td>$100</td>
        <td>$100</td>
    </tr>
    <tr>
        <td>Lois</td>
        <td>Griffin</td>
        <td>$150</td>
        <td>$100</td>
    </tr>
    <tr>
        <td>Joe</td>
        <td>Swanson</td>
        <td>$300</td>
        <td>$100</td>
    </tr>
    <tr>
        <td>Cleveland</td>
        <td>Brown</td>
        <td>$250</td>
        <td>$100</td>
    </tr>
</table>